@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><img src="https://th.bing.com/th/id/R.dcafb8b4ff9902098949735cd3871e2e?rik=yeoiRPgBYpWy3A&riu=http%3a%2f%2f2.bp.blogspot.com%2f-0qYdWbw58U8%2fUVCq8h8B1OI%2fAAAAAAAAE8I%2fIBKUkyEM7-s%2fs1600%2fCrochet-Shawl%2bElegant-Silver-Silk-Shawl%2b11.jpg&ehk=nunOvxmCEkivrx8%2bCHyw8z9MTmwX96QUDvbjEN6khGc%3d&risl=&pid=ImgRaw&r=0" width="300" height="400" </></p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
